# Exercise 4.6_ Data Combining and Exporting Dataframes
This notebook has the steps followed to 
1. Merge the orders Dataframe with the new orders_products_prior Dataframe.
2. Export the merged Dataframe orders_products_combined Dataframe as Pickle dataset to the local storage

#Import the Dataframes

In [1]:
import pandas as pd
import numpy as np
import os

# Import the new Dataframe orders_products_prior

In [2]:
path = r'C:\Users\sorna\Desktop\Data Analysis\Achievement 4'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02.Data', 'Original Data', 'orders_products_prior.csv'))

In [4]:
df_ords_prior.shape

(32434489, 4)

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# Import the orders Dataframes

In [6]:
df_ords = pd.read_csv(os.path.join(path, '02.Data', 'Original Data', 'orders.csv'))

In [7]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

# Check the shape of both the Dataframes

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 7)

# Merge both the Dataframes using the order_id as the key column

In [10]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

# check the frequency of the _merge

In [12]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
df_merged_large_outer = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [14]:
df_merged_large_outer['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

# Export the merged Dataframe to the local Storage as PKL file considering the size

In [15]:
df_merged_large.to_pickle(os.path.join(path, '02.Data','Prepared Data', 'orders_products_combined.pkl'))